@model BaseViewModel
<script type="text/javascript" src="~/js/Pages/User.DirectMessage.js"></script>
<link rel="stylesheet" href="~/css/directmessage.css" />
<h3>Direct Messages</h3>
<div id="user-list"></div>
<div class="clearfix" id="chat-area"></div>
<div id="error" style="margin-bottom:60px;display:none;"></div>
