@model BaseViewModel
<!-- [AT]Html.AntiForgeryToken() -->
<script type="text/javascript" src="~/js/Pages/User.MyMissions.js"></script>
<h1>Index</h1>
<div style="margin-bottom:60px;">
    <div><h3>Add New Operation</h3></div>
    <div>Operation Content:</div>
    <div><input type="text" id="operation-create-operationname" /></div>
    <div><button id="operation-create-btn">Add Operation</button></div>
</div>
<div id="error" style="margin-bottom:60px;display:none;"></div>
<div id="operation-list" style="margin-bottom:60px;"></div>
