@model BaseViewModel
<script type="text/javascript" src="~/js/Pages/Home.Index.js"></script>
<link rel="stylesheet" href="~/css/home.css" />
<div class="text-center">

</div>
<div class="clearfix" id="mission-list" style="margin-bottom:60px;">
    <div class="mission-list-table clearfix">
        <div class="table-column-1">Mission Name</div>
        <div class="table-column-2">Username</div>
    </div>
</div>
